@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /* background: #ececec; */
    background: #213188;
}

/* Login Container */

.box-area {
    width:930px;
}

/* Right Box */

.right-box {
    padding: 40px 30px 40px 40px;
}

.form__input-error-message {
    margin-top:0.5rem;
    font-size: 0.85rem;
}

.form_message {
    text-align: center;
    margin-bottom: 1rem;
}

.form_message--error {
    color: red;
}

/* Custom Placeholder */

::placeholder {
    font-size: 16px;
}


/* For small screens */
@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;

    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}